* {
    padding: 0;
    margin: 0;
}
.container {
    position: relative;
} 
.navbar {
    position: fixed;
    top: 0;
    padding: 10px;
    background: #6F6AF7;
    display: flex;
    width: 100vw;  
}
.logo {
    width: 5vw;
    justify-content: space-between;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
}
.logo img {
    width: 110px;
}
.nav-items {
    width: 55vw;
    flex-grow: 1;
}
.nav-items ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    color: #FFFFFF;
}
.Drop-down select{
    background: #6F6AF7;
    border: none;
    color: #FFFFFF;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
}
.search-box {
    position: absolute;
    right: 0;
}

.nav-input {
    position: relative;
}

.nav-input input {
    outline: none;
    border: none;
    border-radius: 15px;
    height: 20px;
    width: 15rem;
    padding: 10px;
}

.nav-input img {
    width: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
}
.Side-bar {
    flex-grow: 10vw;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.Side-bar img {
    padding: 5px 15px;
    width: 50px;
}
/* main body */
.main-body {
    margin: 0 70px;
    margin-top: 120px;
    height: 320px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
}
.side-image {
    margin: 10px;
    width: 370px;
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
    margin-right: 15px;
    flex-grow: 1;
}
.textbox {
    margin: 4px;
    flex-grow: 1;
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    background: #E5D8FF;
    border: 6px solid #FFFFFF;
    box-shadow: inset 3px 5px 27px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.textbox p {
    padding: 10px 15px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 178.7%;
    color: #6F7373;
}
.icons {
    position: sticky;
    height: 150px;
    width: 50px;
    top: 300px;
    left: 95vw;
    padding: 10px;
}
.icons-wrap {
    position: relative;
    top: -250px;
}
.icons-wrap>div {
    margin: 2px 0;
    border: 3px solid black;
    border-radius: 5px;
    width: 48px;
    height: 48px;
    background-color: white;
}
.boxes {
    margin: -110px 50px 0;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 178.7%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.box1 {
    width: 16vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
    border-radius: 11px;
    padding: 20px;
    background: #929DFF;
}
.box2 {
    width: 16vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
    border-radius: 11px;
    padding: 20px;
    background: #734CF2;
}
.box3 {
    width: 16vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
    border-radius: 11px;
    padding: 20px;
    background: #D288FF;
}
.box4 {
    width: 16vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
    border-radius: 11px;
    padding: 20px;
    background: #000000;
}

/*footer*/
.information-area {
    height: 500px;
    display: flex;
    background: #483EFF;
    border-radius: 21px;
    margin: 60px;
    padding: 20px;
    box-sizing: border-box;
}
.first-half {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.first-half div {
    width: 397px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.39);
    border-radius: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 178.7%;
    letter-spacing: 0.06em;
}
.your-info {
    color: black;
    background: #BCE0F6;
}
.bookmarks {
    background: #483EFF;
    border-radius: 21px;
    border: 5px solid #FFFFFF;
    color: #FFFFFF;
}
.settings {
    background: #483EFF;
    border-radius: 21px;
    border: 5px solid #FFFFFF;
    color: #FFFFFF;
}
.second-half {
    position: relative;
    margin: 20px 0;
    flex-grow: 2.9;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    background: #FFFFFF;
    border-radius: 22px;
}
.info-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 0.105em;

    color: #04285A;
}
.my-data {
    margin-top: 20px;
}
.my-data div {
    display: flex;
    align-items: center;
    margin: 20px 20px;
}
.data {
    color: #04285A;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.105em;
    margin-right: 10px;
}
.next {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 25px;
    bottom: 15px;
    right: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #000000;
    border-radius: 9px;
}
.next img {
    height: 20px;
    width: 38px;
}
.chatbot {
    position: fixed;
    bottom: 5px;
    right: 20px;
    width: 80px;
    height: 80px;
    z-index: 101;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 4px 15px 35px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatbot img {
    width: 50px;
}